<div id="services" class="col-md-10 cont center">
  <div class="col-md">
    <h1 class="heading">Additional services</h1>
    <hr>
    <p class="body-text">
      With over 15 years of experience in precision engineering, fabrication and tool making.
      This is your one stop engineering shop. Here to help you with your engineering needs.
    </p>
  </div>
  <div class="col-md row center">
    <div class="col-md-3 center">
      <app-additional-service-item [title]="cardOneTitle" [body]="cardOneBody"></app-additional-service-item>
    </div>
    <div class="col-md-3 center">
      <app-additional-service-item [title]="cardTwoTitle" [body]="cardTwoBody"></app-additional-service-item>
    </div>
    <div class="col-md-3 center">
      <app-additional-service-item [title]="cardThreeTitle" [body]="cardThreeBody"></app-additional-service-item>
    </div>
    <div class="col-md-3 center">
      <app-additional-service-item [title]="cardFourTitle" [body]="cardFourBody"></app-additional-service-item>
    </div>
  </div>

</div>
