/* You can add global styles to this file, and also import other style files */
@import "src/variables";

body,html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar{
  width: 100% !important;
  background-color: transparent !important;
}

mat-card{
  background-color: $card;
  border-radius: $global-radius;
  box-shadow: 0 4px 8px rgba(10, 34, 64, 0.05), 0 1px 2px rgba(10, 34, 64, 0.05), 0 2px 4px rgba(10, 34, 64, 0.05) !important;
}

.mat-drawer-container{
  background-color: $white;
}

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
