$primary: rgb(27,73,157);
$primary-op: rgb(27,73,157, 0.3);
$secondary: #3498DB;
$secondary-op: rgb(52,152,219, 0.3);
$gray: #5A504F;
$card: #dcdcdc;
$white: white;
$black: #000000;

$global-radius: 12px;
