<div class="col-md-11 row cont center">
  <div class="col-md">
    <mat-carousel class="carousel" [loop]="true" timings="1500ms" [slides]="3" [maintainAspectRatio]="true" [proportion]="65">
      <mat-carousel-slide [image]="'../../../assets/images/imageOne.jpg'"></mat-carousel-slide>
      <mat-carousel-slide [image]="'../../../assets/images/imageTwo.jpg'"></mat-carousel-slide>
      <mat-carousel-slide [image]="'../../../assets/images/imageThree.jpg'"></mat-carousel-slide>
    </mat-carousel>
  </div>
  <div class="col-md">
    <div class="col-md-6">
      <h1 class="heading">Wire Cutting Services</h1>
    </div>
    <div class="col-md-6 row">
      <div class="col-md-1">
        <div class="vertical-line"></div>
      </div>
      <div class="col-md">
        <p class="body-text">
          From Gears, Die sets, tooling to general
          engineering we take it on, nothing is impossible.
          Let’s cut your product into perfection, tight tolerances are welcome .
        </p>
      </div>
    </div>
    <div class="col-md row mt-5">
      <div class="col-md-1">
        <mat-icon class="icons">task_alt</mat-icon>
      </div>
      <div class="col-md">
        <p class="machines">Lorem Ipsum</p>
      </div>
    </div>
    <div class="col-md row mt-2">
      <div class="col-md-1">
        <mat-icon class="icons">task_alt</mat-icon>
      </div>
      <div class="col-md">
        <p class="machines">Lorem Ipsum</p>
      </div>
    </div>
    <div class="col-md row mt-2">
      <div class="col-md-1">
        <mat-icon class="icons">task_alt</mat-icon>
      </div>
      <div class="col-md">
        <p class="machines">Lorem Ipsum</p>
      </div>
    </div>
    <div class="col-md row mt-2">
      <div class="col-md-1">
        <mat-icon class="icons">task_alt</mat-icon>
      </div>
      <div class="col-md">
        <p class="machines">Lorem Ipsum</p>
      </div>
    </div>
    <div class="col-md mt-4">
      <p class="body-text">
        We can cut some of the most unique parts that almost no Mill or Lathe can.
        If you are looking for Quality before Quantity feel free to contact us for a quote.
        Production or once off we are happy to help.
      </p>
    </div>
  </div>
</div>
